* {
    margin: 0;
    padding: 0;
    font-family: 'Mina', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f5f5f5;
}

h1 {
    background-color: #0099ff;
    text-align: center;
    font-size: 5em;
}
.ia {
    color: transparent;
    -webkit-text-stroke: #fff 2px;
}
.board {
    font-family: 'Mina',sans-serif;
    
}
h2 {
    margin-block: 1em;
    font-size: 2em;
    
    text-align: center;
}

/* cards style */
.containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    /* grid-template-columns: repeat(auto-fit,minmax(5em ,1fr)); */
    gap: 15px;
}

.containers .uno {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

    padding-inline: 5em;
    padding-block: 0.5em;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 2px 5px 5px 3px lightgray;

    color: #000;
    text-decoration: none;
    transition: all 5ms;
}

.containers .dos {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

    padding-inline: 5em;
    padding-block: 0.5em;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 2px 5px 5px 3px lightgray;

    color: #000;
    text-decoration: none;
    transition: all 5ms;
}

.containers .tres {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

    padding-inline: 5em;
    padding-block: 0.5em;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 2px 5px 5px 3px lightgray;

    color: #000;
    text-decoration: none;
    transition: all 5ms;
}


.containers .uno .img {
    background-color: lightgray;
    width: 80px;
    height: 80px;
    border-radius: 100px;
}
.containers .dos .img {
    background-color: lightgray;
    width: 80px;
    height: 80px;
    border-radius: 100px;
}
.containers .tres .img {
    background-color: lightgray;
    width: 80px;
    height: 80px;
    border-radius: 100px;
}

/* varidad de colores */
.containers  .uno:hover {
    transition: 10ms;
    transform: translateY(-10px);
    background-color:#0099ff;
    color: #fff;
}
.containers .dos:hover {
    transition: 10ms;
    transform: translateY(-10px);
    background-color:chartreuse;
    color: #fff;
}
.containers .tres:hover {
    transition: 10ms;
    transform: translateY(-10px);
    background-color:red;
    color: #fff;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');